.container-chatbox {
    display: flex;
    width: 800px;
    margin: 10px auto 50px;
    background-color: #f1f1f1;
    font-family: sans-serif;
}
html {
    height: 100vh;
}

.chatbox {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: aquamarine;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info h2 {
    font-size: 24px;
    margin: 0;
}

.profile-info p {
    font-size: 14px;
    margin: 0;
    color: #999;
}

/* Webkit browsers */
::-webkit-scrollbar {
   width:10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}



.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 4px;
    width: fit-content;
    max-width: 80%;
}

.message p {
    margin: 0;
    font-size: 14px;
}

.message.message-sender {
    background: deepskyblue;
    color: white;
    align-self: self-end;
}

.input-box {
    display: flex;
    align-items: center;
    margin: 10px 20px 0 0;
}


.input-box input[type="text"] {
    border: none;
    background: beige;
    border-radius: 20px;
    padding: 15px;
    flex: 1;
    margin: 10px;
    font-size: 14px;
}

.input-box input[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.input-box input[type="submit"]:hover {
    background-color: #0062cc;
}