
.form-control{
    color: black !important;
}
.form-check{
    display: inline-block !important;
    margin-left: 77px;
}
.form-check-label{
    padding-left: 0 !important;
    font-size: 1rem;
}
.cut {
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 27px;
}
.col-md-8 {
    border-right:solid 1px #ebebeb;
}
.profile_name {
    opacity: 0.5;
}
.profile_show{
    width: 75%;
}
.image{
    width: 35%;	
    margin-left: 130px;
    margin-top: 30px;		
}
.select_photo{
    border-radius: 50%;
    margin-left: 89px;
}
